body{
	margin: 0;
	padding: 0;
	background: url(background1.jpg) no-repeat;
	background-size: cover; 
}
.box{
	width: 600px;
	background: rgba(1, 104, 206, 0.985);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	color: rgb(255, 255, 255);
	font-family: 'Century Gothic' , sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	border-radius: 25px;
  border: 1px solid rgba(1, 104, 206, 0.985);
  padding: 20px; 
  width: 600px;
   
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	border: 5px solid rgb(255, 215, 0);
}
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	text-align: center;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: rgb(255, 215, 0);
}

.su {
  color: rgb(255, 215, 0);
   text-decoration: none;
}


.top-navigation {
 margin-top: 3vh;
 color: rgba(1, 104, 206, 0.985);
 background: rgb(255, 215, 0);
 padding: 0 1rem;
 border-radius: 0.75rem;
 display: flex;
 align-items: center;
 justify-content: center;
 position: center;
 box-shadow: 0px 8px 8px rgb(154, 154, 154);
 width: 620px;
 margin-left: auto;
 margin-right: auto;
 text-shadow: 20px;
 
}
.a {
	padding: 0 1rem;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 180px;	
	color: rgb(255, 255, 255);	
	font-family: 'Century Gothic' , sans-serif;
	margin-top: 2vh;
	margin-bottom: 2vh;	
 }

 .a:hover {
	color:rgba(168, 168, 168, 0.789)


  @media (min-width: 2000px) {
    body {
      font-size: 18px;
    }
  
  }
  
  @media (max-width: 1000px) {
    body {
      font-size: 15px;
    }
  
    .topic_text {
      margin-left: 1em;
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
      font-size: 18px;
    }
    
    .box {
      width: auto;
    }
  
    .top-navigation {
      width: auto;
    }
  
    #head {
      font-size: 1.8em;
    }
  }


 


 
 
 

